.work-text {
	margin: 0 10px;
}

.work-text h2{
	font-size: 20px;
	color: $navy;
	margin-bottom: 10px;

}

.work-text h3 {
	font-weight: $light;
	margin-bottom: 15px;
	color: $grey;
}

.work-text p{
	font-size: 15px;
	margin-bottom: 10px;
	color: $grey;
	font-weight: $light;
}


.work-img {
	height: 100%;
	margin-bottom: 15px;
}

.sticky-pag {
	display: none;
}

.footer-pag {
	border: 2px solid $lightgrey;
	margin-bottom: 10px;
	overflow: hidden;

	a {
		overflow: hidden;
		text-decoration: none;
		display: block;
		padding: 10px 0;
	}

	/*div:hover,
	a:hover {
		background-color: $lightestgrey;
	}*/

	img {
		width: 9px;
		float: left;
		margin: 4px 10px;
		display: block;
	}

	p {
		font-size: 12px;
		float: left;
	}

	.previous-pag {
		text-align: right;
		
		img {
			left: 10px;
		}

		a {
			float: left;
		}

		a:hover:after{

		}
	}

	.next-pag {
		text-align: left;

		img {
			right: 10px;
		}

		a {
			float: right;
		}

		div:hover {
			background-color: red;
		}

		a:hover:after {

		}
	}

}

@media only screen and(min-width: 17.8125em) { /*285*/

	.footer-pag {
		p {
			font-size: 14px;
			float: left;
		}
	}

}

@media only screen and(min-width: 44.6875em) { /*715*/

	.footer-pag {
		display: none;
	}

	.sticky-pag {
		display: block;
		position: absolute;
		top: 50%;
	}

	.sticky-pag {

		a {
			display: block;
			text-decoration: none;
			transition: all 250ms ease-in-out;
			position: fixed;
			background-color: $lightgrey;
			padding: 10px 8px;
			width: 105px;
			&:hover {
				background-color: $navy;
			}
		}

		img {
			width: 8px;
			display: inline-block;
			vertical-align: 6px; 
			margin: 0 8px;
		}

		p {
			display: inline-block;
			color: #fff;
			font-weight: $normal;
			line-height: 1.3;
			letter-spacing: 0.3px;
			margin: 0 5px;
			font-size: 12px;
		}
	}

	.previous-button {
		transform: translate(-70px,0);
		text-align: right;
		&:hover{
			transform: translate(0,0);

		}

	}

	.next-button {
		right: 0;
		transform: translate(70px,0);
		text-align: left;
		&:hover{
			transform: translate(0,0);

		}

	}

}





