@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

wrapper {
  display: block;
  margin: 10px;
  overflow: hidden;
}

.thumb {
  position: relative;
  overflow: hidden;
  z-index: 2000;
  margin: 0 0 10px 0;
}

.thumb-info {
  text-align: center;
  padding: 30% 0;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  opacity: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  background-color: rgba(6, 57, 78, 0.5);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  margin-bottom: 0;
}

.thumb:hover .thumb-info {
  opacity: 0.9;
}

@media only screen and (min-width: 38em) {
  wrapper {
    width: 70%;
    margin: 0 auto;
  }
}
