// Variables 

//color
$lightestgrey: #e6e7e8; //10% grey
$lightgrey: #c2c2c2; //30% grey
$grey: #898989; //60% grey
$navy: #06394e;

//font weight
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;